<ion-toolbar class="toolbar">
  <div class="d-flex justify-content-between">
    <ion-header class="toolbar">
      <ion-toolbar>
        <ion-title>{{title}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-icon name="settings-outline" class="gearIcon rotate"
    [ngClass]="{'rotate': isRotated }"
    (click)="rotateIcon(); setOpen(true)">
    </ion-icon>

    <ion-action-sheet [isOpen]="isActionSheetOpen"
    [buttons]="actionSheetButtons"
    (didDismiss)="setOpen(false)"
    class="gearMenu">

    </ion-action-sheet>
  </div>
</ion-toolbar>
