ion-icon{
    font-size: 30px;
}

ion-tabs{
  --background: #edac58;
}

.tabs{
  --background: #edac58;
  background-color: #edac58;
  color: white;
}

.tab1{
  color: white;
}
.tab2{
  color: white;
}
