<ion-content class="tab2-page" [fullscreen]="true">
  <app-navbar></app-navbar>
  <app-create-diet></app-create-diet>

  <div class="card" *ngIf="!showNoDataMessage">
    <div class="statsContainer">
      <div class="mt-1 text-center">
        <img [src]="'../../assets/imgs/' + userInfo.gender + '-' + userInfo.random + '.png'" alt="">
      </div>

      <div class="stats mt-4">
        <div>
          <h3>{{userInfo.objective}}</h3>
        </div>
        <p>Height {{userInfo.height}} cm</p>
        <p>Weight {{userInfo.weight}} kg</p>
        <p>Maintence {{userInfo.calorieMaintence}}</p>
        <!-- <p>Target: {{userInfo.target}}</p> -->

      </div>

    </div>
  </div>

  <div class="card" *ngIf="showNoDataMessage">
    <div class="statsContainer">
        <div class="noDietObjective mt-4">
          <h3>Add your diet objective</h3>
          <button class="createNewDietObjectiveButton">
            Create new diet objective
          </button>
        </div>
    </div>
  </div>

  <div class="createNewDietObjective">
    <button class="createNewDietObjectiveButton" (click)="createNewDietObjective()">
      Create new diet objective
    </button>
  </div>
  <div class="target">
    <h1>{{ target }}</h1>
    <small>target</small>
  </div>
  <div *ngFor="let item of objectivesByDay" >
    <ion-card class="custom-card">
      <ion-card-header style="background-color: rgb(255, 243, 225); height: 80px;">
        <ion-card-title style="color: black;">{{item.dateAdded}}</ion-card-title>
        <div *ngFor="let food of item.foods; let last=last" style="width: 0.1; height: 0;" >
          <div class="d-flex justify-content-around">
            <!-- <h1 *ngIf="last" style="width: 23%; color: rgb(0, 0, 0);">{{ target }} /</h1> -->
            <h1 *ngIf="last" [ngStyle]="getStyleForEachDay(item.kcalTotal)" style="width: 77%;" class="total-kcal">{{ item.kcalTotal }} </h1>
            <button *ngIf="last" class="deleteButton" (click)="deleteEntry(item)"> X </button>
          </div>
        </div>
      </ion-card-header>
    </ion-card>
  </div>

  <div style="color: 90d473;"></div>

</ion-content>
