.card {
    padding: 20px;
    border: none;
}

.statsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: radial-gradient(circle, #ffeeea, #ffa734);
    padding-left: 10%;
    border-radius: 10px;
    height: 170px;
}

.statsContainer h3 {
    font-style: italic;
    font-weight: 500;
}

.statsContainer img {
    height: 150px;
    object-fit: contain;
}

.stats {
    margin-left: 10px;
}

.stats p {
    margin-bottom: 0;
    display: flex;
    flex: initial;
}

ion-icon{
    margin-top: 10px;
}

.noDietObjective{
    margin-left: 80px;
}