<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="d-flex justify-content-between">
      <ion-header>
        <ion-toolbar>
          <ion-title>My diet</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-icon name="settings-outline" class="gearIcon rotate" 
      [ngClass]="{'rotate': isRotated }" 
      (click)="rotateIcon(); setOpen(true)">
      </ion-icon>

      <ion-action-sheet [isOpen]="isActionSheetOpen" 
      [buttons]="actionSheetButtons" 
      (didDismiss)="setOpen(false)"
       class="my-custom-class">
      </ion-action-sheet>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-create-diet></app-create-diet>
</ion-content>
